<!DOCTYPE html>
<head>
        <title>{{ .Title }}</title>
        <!--
        <link rel="stylesheet" href="https://writ.cmcenroe.me/writ.min.css">
        <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
        -->
        <link rel="stylesheet" href="https://igoradamenko.com/awsm.css/v2/css/awsm.min.css">
</head>
<body>
        <header>
                <h1 id="#">Saran's Site</h1>
                <nav>
                        <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/blog">Blog</a></li>
                        </ul>
                </nav>
        </header>
